#itemSpecification {
  border-bottom: none;
}
.rCardPriceDisplay {
  padding: 10px 8px;
}
.rCardPriceDisplay__btn {
  border-radius: 3px;
  background: #fff;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  border: solid 1px #ccc;
  padding: 8px 10px 9px;
  letter-spacing: -0.2px;
  text-align: center;
}
.rCardPriceDisplay__btn > span:nth-child(1) {
  color: #009a4d;
}
.rCardPriceDisplay__btn > span:nth-child(3) {
  font-weight: normal;
}
.rCardPriceDisplayModal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20000000000;
}
.rCardPriceDisplayModal.is-open {
  display: block;
}
.rCardPriceDisplayModal__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  -webkit-transform: translate3d(0, 110%, 0);
          transform: translate3d(0, 110%, 0);
  background: #fff;
  padding-bottom: 20px;
}
.rCardPriceDisplayModal__inner.is-open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.rCardPriceDisplayModal__head {
  height: 48px;
  box-shadow: 0 1px 0 0 #e2e2e2;
}
.rCardPriceDisplayModal__content {
  padding: 11px 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.rCardPriceDisplayModal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 28px;
  height: 28px;
}
.rCardPriceDisplayModal__close:before {
  position: absolute;
  top: 13px;
  left: 3px;
  content: '';
  display: block;
  width: 21px;
  height: 2px;
  background: #848484;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.rCardPriceDisplayModal__close:after {
  position: absolute;
  top: 13px;
  left: 3px;
  content: '';
  display: block;
  width: 21px;
  height: 2px;
  background: #848484;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.rCardPriceDisplayModal__image {
  margin-bottom: 5px;
}
.rCardPriceDisplayModal__image img {
  width: 100%;
  height: auto;
}
.rCardPriceTable {
  background: #d3f4df;
  padding: 1px 10px 5px;
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}
.rCardPriceTable__head {
  height: 31px;
  line-height: 31px;
  font-size: 13px;
  color: #009a4d;
  border-bottom: solid 1px #b5e8cc;
}
.rCardPriceTable__table {
  width: 100%;
  border-collapse: collapse;
}
.rCardPriceTable__row {
  position: relative;
  border-bottom: solid 1px #b5e8cc;
}
.rCardPriceTable__row:after {
  content: '';
  display: block;
  clear: both;
}
.rCardPriceTable__row:first-child th,
.rCardPriceTable__row:first-child td {
  border-bottom: solid 1px #b5e8cc;
}
.rCardPriceTable__row:last-child th,
.rCardPriceTable__row:last-child td {
  border-top: solid 1px #009a4d;
}
.rCardPriceTable__col {
  height: 31px;
  line-height: 31px;
  font-weight: normal;
}
.rCardPriceTable__col--l {
  float: left;
}
.rCardPriceTable__col--r {
  float: right;
  text-align: right;
}
.rCardPriceTable__col span {
  color: #009a4d;
}
.rCardPriceTable__col--price {
  font-size: 13px;
  text-align: right;
}
.rCardPriceTable__col--price span {
  font-weight: bold;
}
.rCardPriceTable__col--total {
  line-height: 1.5;
  vertical-align: top;
  padding-top: 5px;
}
.rCardPriceTable__col--actual {
  font-size: 14px;
  text-align: right;
  color: #bf0000;
  font-weight: bold;
  padding-top: 17px;
}
.rCardPriceTable__col--actual p {
  display: inline-block;
  font-size: 16px;
}
.rCardPriceDisplayModal__submit {
  display: block;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  background-color: #009a4d;
  color: #fff;
}
.rCardPriceDisplayModal__submit:active {
  background: #008040;
}
.rCardPriceDisplayModal__note {
  font-size: 11px;
  line-height: 1.36;
  padding-top: 14px;
}
.is-fixedHeight {
  height: 100%;
  overflow: hidden;
}
.u-bdrNone {
  border: none;
}
