@charset "utf-8";

.sp-ban {
	height: 150px;
	position: fixed;
	clip: rect(0px,auto,auto,auto);
	right: 3px;
	top: 100px;
	z-index: 214747;
}


.sp-ban2 {
	height: 150px;
	position: fixed;
	clip: rect(0px,auto,auto,auto);
	right: 3px;
	top: 270px;
	z-index: 214747;
}

#sp-floatingfooter a {
	display: block;
	width: 100%;
	height:40px;
	line-height: 38px;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	color: #FFF!important;
	text-align: center;
	font-weight: bold;
	background-color: rgba(0,0,0,0.5);
	z-index: 2147483647;
}

#sp-floatingfooter img{
	width:100%;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
	right: 0;
}


