#btoContainer .blockHeading {
    margin-bottom: 0;
}

.bto-bundle-summary-selected-images {
    width: 290px;
    height: 74px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.bto-bundle-summary-photo {
    position: relative;
    width: 60px;
    height: 60px;
}

.bto-bundle-summary-photo:only-child,
.bto-bundle-summary-photo.has--siblings-0 {
    margin-left: 0;
}

.bto-bundle-summary-photo:first-child:nth-last-child(2)~.bto-bundle-summary-photo {
    margin-left: 35px;
}

.bto-bundle-summary-photo:first-child:nth-last-child(2)~.bto-bundle-summary-photo:before {
    content: '';
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -18px;
    margin: auto;
    background: #ababab;
}

.bto-bundle-summary-photo:first-child:nth-last-child(2)~.bto-bundle-summary-photo:after {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    position: absolute;
    top: 29px;
    left: -21px;
    background: #ababab;
}

.bto-bundle-summary-photo:first-child:nth-last-child(3)~.bto-bundle-summary-photo {
    margin-left: 35px;
}

.bto-bundle-summary-photo:first-child:nth-last-child(3)~.bto-bundle-summary-photo:first-child {
    margin-left: 0;
}

.bto-bundle-summary-photo:first-child:nth-last-child(3)~.bto-bundle-summary-photo:first-child:before,
.bto-bundle-summary-photo:first-child:nth-last-child(3)~.bto-bundle-summary-photo:first-child:after {
    display: none;
}

.bto-bundle-summary-photo:first-child:nth-last-child(3)~.bto-bundle-summary-photo:before {
    content: '';
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -18px;
    margin: auto;
    background: #ababab;
}

.bto-bundle-summary-photo:first-child:nth-last-child(3)~.bto-bundle-summary-photo:after {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    position: absolute;
    top: 29px;
    left: -21px;
    background: #ababab;
}

.bto-bundle-summary-photo:first-child:nth-last-child(4)~.bto-bundle-summary-photo {
    margin-left: 15px;
}

.bto-bundle-summary-photo:first-child:nth-last-child(4)~.bto-bundle-summary-photo:first-child {
    margin-left: 0;
}

.bto-bundle-summary-photo:first-child:nth-last-child(4)~.bto-bundle-summary-photo:first-child:before,
.bto-bundle-summary-photo:first-child:nth-last-child(4)~.bto-bundle-summary-photo:first-child:after {
    display: none;
}

.bto-bundle-summary-photo:first-child:nth-last-child(4)~.bto-bundle-summary-photo:before {
    content: '';
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9px;
    margin: auto;
    background: #ababab;
}

.bto-bundle-summary-photo:first-child:nth-last-child(4)~.bto-bundle-summary-photo:after {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    position: absolute;
    top: 29px;
    left: -12px;
    background: #ababab;
}

.bto-bundle-summary-photo.has--siblings-1 {
    margin-left: 35px !important;
}

.bto-bundle-summary-photo.has--siblings-1:first-child {
    margin-left: 0px !important;
}

.bto-bundle-summary-photo.has--siblings-1:first-child:before,
.bto-bundle-summary-photo.has--siblings-1:first-child:after {
    display: none;
}

.bto-bundle-summary-photo.has--siblings-1:before {
    content: '';
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -18px !important;
    margin: auto;
    background: #ababab;
}

.bto-bundle-summary-photo.has--siblings-1:after {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    position: absolute;
    top: 29px;
    left: -21px !important;
    background: #ababab;
}

.bto-bundle-summary-photo.has--siblings-2 {
    margin-left: 15px;
}

.bto-bundle-summary-photo.has--siblings-2:first-child {
    margin-left: 0;
}

.bto-bundle-summary-photo.has--siblings-2:first-child:before,
.bto-bundle-summary-photo.has--siblings-2:first-child:after {
    display: none;
}

.bto-bundle-summary-photo.has--siblings-2:before {
    content: '';
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -18px;
    margin: auto;
    background: #ababab;
}

.bto-bundle-summary-photo.has--siblings-2:after {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    position: absolute;
    top: 29px;
    left: -21px;
    background: #ababab;
}

.bto-bundle-summary-photo.has--siblings-3 {
    margin-left: 15px;
}

.bto-bundle-summary-photo.has--siblings-3:first-child {
    margin-left: 0;
}

.bto-bundle-summary-photo.has--siblings-3:first-child:before,
.bto-bundle-summary-photo.has--siblings-3:first-child:after {
    display: none;
}

.bto-bundle-summary-photo.has--siblings-3:before {
    content: '';
    display: block;
    width: 2px;
    height: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9px;
    margin: auto;
    background: #ababab;
}

.bto-bundle-summary-photo.has--siblings-3:after {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    position: absolute;
    top: 29px;
    left: -12px;
    background: #ababab;
}

.bto-bundle-summary-photo-img {
    display: block;
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.bto-bundle-summary-photo-overlay {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;
}

.bto-image-center-main {
    display: table;
    width: 100%;
    height: 100%;
}

.bto-image-center-sub {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.bto-image-center-sub img {
    display: inline!important;
}

.bto-image-flick-slider-images {
    height: 250px;
}

.bto-bundle-summary-total-price {
    font-size: 14px;
}

.bto-bundle-summary-total-price-container {
    margin-top: 8px;
    text-align: center;
}

.bto-bundle-summary-total-text {
    font-size: 14px;
    color: #333;
}

.bto-bundle-summary-total-price {
    color: #bf0000;
}

.bto-bundle-summary-total-currency {
    font-size: 18px;
    font-weight: bold;
}

.bto-bundle-summary-total-price-amount {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

.bto-bundle-summary-accordion-btn {
    display: inline-block;
    position: relative;
}

.bto-bundle-summary-accordion-btn:before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    position: absolute;
    right: -16px;
    top: 6px;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.bto-bundle-summary--open .bto-bundle-summary-accordion-btn:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
}

.bto-info-form-row {
    border-bottom: 1px solid #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bto-info-form-row:first-child {
    border-top: 1px solid #eee;
    margin-top: 8px;
}

.bto-info-form-row:not(:first-child) {
    margin-top: 0;
}

.bto-info-form-row-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    opacity: 1;
}

.bto-item-unchecked {
    opacity: 0.5;
}

.bto-item-invalid {
    text-decoration: line-through;
}

.bto-info-check-label {
    -webkit-box-flex: 60px;
    -webkit-flex: 60px 0 0;
    flex: 60px 0 0%;
}

.bto-info-item-checkbox {
    border: 1px solid #666;
    border-radius: 2px;
    position: relative;
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

input[type=checkbox][disabled]+.bto-info-item-checkbox {
    cursor: default;
}

.bto-info-item-check-wrapper {
    width: 60px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.bto-info-row-hidden-checkbox {
    display: none!important;
}

.bto-info-row-hidden-checkbox:checked+.bto-info-item-checkbox:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: block;
    top: 5px;
    left: 4px;
    width: 16px;
    height: 10px;
    border-left: 3px solid #bf0000;
    border-bottom: 3px solid #bf0000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.bto-info-row-hidden-checkbox:checked[disabled]+.bto-info-item-checkbox {
    border: none;
}

.bto-info-item-text-name {
    font-size: 12px;
}

.bto-info-item-price {
    font-size: 12px;
    color: #bf0000;
    margin-top: 2px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    flex: 1 1 0%;
}

.bto-info-item-shipping {
    color: #333;
    padding: 0 2px 0 2px;
    margin-left: 2px;
}

.bto-info-item-price-taxinfo {
    font-size: 12px;
    color: #333;
}

.bto-info-item-text-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 8px 8px 8px 0;
}

.bto-info-item-text-wrapper a {
    color: #333;
}

.bto-purchase-button {
    background-color: #bf0000;
    color: #fff;
    -webkit-appearance: none;
    border: none;
    border-radius: 4px;
    margin: 0 auto 12px;
    width: 210px;
    height: 36px;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
    padding: 0 0 0 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bto-purchase-button[disabled=true],
.bto-purchase-button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.bto-purchase-button>img {
    margin-right: 4px;
}

.bto-purchase-button span {
    position: relative;
}

.bto-purchase-button span:before {
    content: '';
    width: 15px;
    height: 16px;
    position: absolute;
    left: -23px;
    top: 0;
    display: block;
    background: url('https://r.r10s.jp/com/img/rms/storefront/pc/page/smart/carticon_51x52.png') no-repeat;
    background-size: 15px 16px;
}

.bto-bundle-purchase-button {
    margin-bottom: 25px;
}

#buildToOrderContainer {
    margin-top: 10px;
    line-height: 1.4;
}

#buildToOrderContainer p {
    margin-top: 0px;
}

#buildToOrderPopupContainer p {
    margin-top: 0px;
}

.bto-purchase-container {
    padding: 12px 8px 0;
}

.bto-bundle-block {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.bto-bundle-block:last-child {
    margin-top: 0;
}

.bto-bundle-summary {
    word-break: break-all;
    height: 112px;
    overflow: hidden;
}

.bto-info-item-price-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.bto-info-item-seemore {
    right: 18px;
    font-size: 11px;
    margin-top: 2px;
    color: #1d54a7;
    line-height: 14px;
    z-index: 100;
    position: relative;
    opacity: 1!important;
    width: 100%;
    text-align: right;
}

.bto-info-item-seemore.hidden {
    display: none;
}

.bto-info-item-seemore:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #1d54a7;
    border-right: 1px solid #1d54a7;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
    right: -8px;
}

.bto-error-msg-box.open {
    display: block;
}

.bto-error-msg-box {
    display: none;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483646;
}

.bto-error-msg-box-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    width: 90%;
    max-width: 400px;
}

.bto-error-close-btn {
    background: url('https://r.r10s.jp/com/img/home/itempage/sp/btn_close.png') no-repeat 0 0;
    background-size: 14px 14px;
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: -2px;
    top: -2px;
    cursor: pointer;
    margin: 10px;
}

.bto-error-msg-box-contents {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background: #ffffff;
    padding: 20px;
    position: relative;
    margin: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bto-error-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #bf0000;
    margin-bottom: 8px;
}

.bto-error-msg-box-summary {
    text-align: center;
}

.bto-error-msg-message-single {
    padding-bottom: 10px;
    word-break: break-all;
}

.bto-error-item-image-list {
    display: -webkit-inline-box;
    text-align: center;
    padding-bottom: 10px;
}

.bto-error-item-image {
    width: 60px;
    height: 60px;
    display: table-cell;
    vertical-align: middle;
}

.bto-error-item-image img {
    padding: 0 4px 0 0;
    max-width: 60px;
    max-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.bto-error-msg-text {
    font-size: 14px;
    font-weight: bold;
}

.bto-error-item-list {
    font-size: 10px;
    list-style: disc;
    padding-left: 18px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.bto-error-item-list li {
    margin-bottom: 4px;
}

.bto-error-cart-btn {
    border: 1px solid #bf0000;
    border-radius: 3px;
    background: #fff;
    background-image: url('https://r.r10s.jp/com/img/rms/storefront/pc/page/smart/icon_cart_red.png');
    background-position: 63px 14px;
    -webkit-background-size: 14px;
    background-repeat: no-repeat;
    background-size: 14px;
    color: #bf0000;
    text-align: center;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
    line-height: 44px;
    height: 44px;
    width: 230px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bto-bundle-summary-accordion-btn span {
    padding: 0 2px 0 2px;
}

.bto-bundle-summary-total-shipping {
    color: #000000;
}

.shipping-free {
    display: inline-block!important;
    word-wrap: initial!important;
    background: #bf0000!important;
    color: white!important;
    white-space: nowrap!important;
    width: initial!important;
    font-weight: bold!important;
}

.bto-error-back-btn {
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #f6f6f6;
    color: #333;
    text-align: center;
    font-size: 14px;
    display: block;
    line-height: 44px;
    height: 44px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#btoItemDetailsPopup #itemImageSlider {
    margin-bottom: 12px;
}

.bto-error-msg-box-details-link {
    text-align: center;
    padding: 0 0 10px 0;
}

.bto-error-msg-box-details-link-text {
    color: #1d54a7;
    font-size: 12px;
}

.bto-error-msg-box-details {
    padding: 0 0 10px 0;
    overflow-y: auto;
    overflow: hidden;
}

.bto-item-details-popup {
    padding-top: 0px!important;
}

.bto-item-details-popup-wrapper {
    padding: 6px 8px 30px 8px;
}

.bto-item-details-popup-item-name-link {
    font-size: 12px;
    font-weight: bold;
    color: #1d54a7;
}

.bto-item-details-popup-item-price {
    color: #333;
    position: relative;
    margin-top: 4px;
}

.bto-item-details-popup-item-price span {
    padding: 2px;
}

.bto-item-details-popup-item-price p {
    line-height: 1;
}

.bto-item-details-popup-item-price-amount {
    font-size: 20px;
    color: #bf0000;
    font-weight: bold;
}

.bto-item-details-popup-item-price-tax {
    font-size: 10px;
    color: #333;
}

.bto-item-details-popup-item-desc-title {
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 3px;
}

.bto-item-details-popup-item-desc {
    word-break: break-all;
    margin-top: 12px;
    color: #333;
    font-size: 10px;
}

.bto-item-details-popup-item-desc img {
    display: block !important;
    max-width: 100% !important;
    margin: 0 auto !important;
}

.bto-image-flick-slider .r-slideshow-sp {
    height: 300px;
    margin: 20px 0 0 0;
    position: relative;
    text-align: left;
    width: 100%;
    overflow: hidden;
}

.bto-image-flick-slider .r-slideshow-sp .r-slideshow-body {
    height: 100%;
    width: 100%;
    left: 0;
    position: relative;
}

.bto-image-flick-slider .r-slideshow-sp .r-slideshow-items {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.bto-image-flick-slider .r-slideshow-sp .r-slideshow-page {
    height: 250px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.bto-image-flick-slider .r-slideshow-sp .r-slideshow-item {
    background: #ffffff;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: top;
}

.bto-image-flick-slider .r-slideshow-sp .r-slideshow-index-container {
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: 260px;
    width: 100%;
}

.bto-image-flick-slider .r-slideshow-sp .r-slideshow-index {
    height: 16px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.bto-image-flick-slider .r-slideshow-sp .r-slideshow-index-item {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 0 5px;
    overflow: hidden;
    text-indent: 20px;
    width: 8px;
    background: url('https://r.r10s.jp/com/img/rms/storefront/pc/page/smart/icon4.png') no-repeat;
    background-position: -585px -144px;
}

.bto-image-flick-slider .r-slideshow-sp .r-slideshow-index-item.r-slideshow-index-item-active {
    background-position: -575px -155px;
    cursor: default;
}

.bto-image-flick-slider .r-slideshow .r-slideshow-items .r-slideshow-item a span {
    background: white;
    border: 3px solid #555555;
    color: #777777;
    display: block;
    font-weight: bold;
    left: 20px;
    padding: 5px 10px;
    position: absolute;
    text-transform: uppercase;
    top: 47px;
    width: 64px;
}

.bto-sku-popup-iteminfo {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 14px
}

.bto-sku-popup-iteminfo-image-container {
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 60px;
}

.bto-sku-popup-iteminfo-image-container img {
    max-width: 60px;
    max-height: 60px;
}

.bto-sku-popup-iteminfo-item-name {
    color: #333;
    font-size: 12px;
    padding-left: 12px;
}

.popUpCloseButton {
    display: inline-block;
}

.popUpCloseButtonBTO {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-user-select: none;
    user-select: none;
    border-color: #ffffff!important;
}
