@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


/*****************************************************************************************************************/
/*納期注意追加20171114*/
/*****************************************************************************************************************/

#rakutenLimitedId_aroundCart font[color="#FF0000"] {
    font-size: 14px !important;
    font-weight: bold !important;
}

#rakutenLimitedId_aroundCart font[color="#FF0000"]:after {
    display: block !important;
    font-size: 15px !important;
    margin:5px 0 0 !important;
    font-weight: bold !important;
    color: #cc0000 !important;
    /*content: "年末年始のため、お届け目安に記載されている日程でのお届けとなります。\A※注文確認メールとは異なりますので、ご注意ください。" !important;
    white-space: pre;*/
	/*content: "弊社棚卸のため、お届け目安に記載されている日程でのお届けとなります。\A※注文確認メールとは異なりますので、ご注意ください。" !important;
    white-space: pre;*/
    content: "注文確認メールにお届け予定日を記載致します。" !important;
    padding-top: 5px !important;
    border-top: 1px dotted #ccc !important;
}

#itemSpecification .deliveryTime {
    font-size: 12px !important;
    font-weight: bold !important;
}

#itemSpecification .deliveryTime:after {
    width: 94%;
    display: block !important;
    font-size: 13px !important;
    margin:2% 0 0 !important;
    color: #cc0000 !important;
    /*content: "年末年始のため、お届け目安に記載されている日程での\Aお届けとなります。\A※注文確認メールとは異なりますので、ご注意ください。" !important;
    white-space: pre;*/
	/*content: "弊社棚卸のため、お届け目安に記載されている\A日程でのお届けとなります。\A※注文確認メールとは異なりますので、ご注意ください。" !important;
    white-space: pre;*/
    content: "注文確認メールにお届け予定日を記載致します。" !important;
    padding-top:2% !important;
    border-top: 1px dotted #ccc !important;
}



/*****************************************************************************************************************/
/*フローティングカゴ回避20170323*/
/*****************************************************************************************************************/

/*.floating-cart.sidebar .floating-cart-wrapper{right:78px !important;}
.floating-cart.sidebar{z-index:1 !important;}*/
div#rakutenLimitedId_aroundCart .new-cart-button {height: 55px !important;}



/*****************************************************************************************************************/
/*あす楽全体設定20170329*/
/*****************************************************************************************************************/

/*.sj_asu_all{display:none;}*//*あす楽全体設定_予定*/



/*****************************************************************************************************************/
/*共通バナー*/
/*****************************************************************************************************************/

.header_iframe{
	height:185px;/*通常(39日返品保証)*/
	/*height:285px;*//*クーポンCP版*/
}

area{
  border:none;
  outline:none;
}

.lp_wrap_normal{
	width:750px;
	margin:0 auto;
	text-align:center;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.lp_wrap_normal img{
	vertical-align:bottom;
	border:none;
}

.kj_style{
	text-align:center;
	height:20px;
	line-height:20px;
	font-size:16px;
	font-weight:600;
	padding:10px 0 30px;
	margin:15px auto 20px;
	font-family: 'Noto Sans Japanese', serif;
}

a:hover .kj_style{
	text-decoration:underline;
}

.qa_item_pc{width:900px;height:80px;line-height:45px;margin:0 auto 20px;text-align:center;font-size:18px;font-weight:bold;font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"}
.qa_item_pc a{display:block;width:900px;height:45px;background:#cc0000;color:#fff;border-radius:5px;text-decoration:none;border:2px #cc0000 solid;}
.qa_item_pc a:hover{background:#fff;color:#fff;color:#cc0000;text-decoration:none;border:2px #cc0000 solid;}

.qa_item_pc_s{width:670px;height:80px;line-height:45px;margin:0 auto 20px;text-align:center;font-size:18px;font-weight:bold;font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"}/*700ver*/
.qa_item_pc_s a{display:block;width:670px;height:45px;background:#cc0000;color:#fff;border-radius:5px;text-decoration:none;border:2px #cc0000 solid;}/*700ver*/
.qa_item_pc_s a:hover{background:#fff;color:#fff;color:#cc0000;text-decoration:none;border:2px #cc0000 solid;}/*700ver*/

.qa_item_sp{display:block;width:100%;height:auto;line-height:18px;padding:3% 0;margin:0 auto 3%;text-align:center;font-size:15px;font-weight:bold;font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif"}
.qa_item_sp a{display:block;width:100%;padding:3% 0;background:#cc0000;color:#fff;border-radius:5px;text-decoration:none;}

.fit_2015_pc{
	/*display:none;*/
	width:700px;
	height:154px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/share/fit_nob.jpg) no-repeat top left;
}/*2015フィットネス機器市場売上No1画像*/

.fit_2015_sp{
	display:block;
	height: 0;
	padding-top:24.06%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/share/fit_nob.jpg) no-repeat top left;
	background-size: contain;
}/*2015フィットネス機器市場売上No1画像*/
	
.common_sou{
	display:block;
	height: 0;
	padding-top:31.42%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/share/free_sp_bnr.jpg) no-repeat top left;
	background-size: contain;
}/*期間なし送料無料トラックバナー*/

/*.itemCartLinks:before{
	margin:0;
	content:" ";
	display:block;
	height: 0;
	padding-top:38.59%;
	background: url(https://www.rakuten.ne.jp/gold/shopjapan/sp/images/other/sp_footinfo3.png) no-repeat top left;
	background-size: contain;
}*//*SPページのカート上の画像(お問い合わせボタン上)*/

#buildToOrderContainer:before{
	margin:0;
	content:" ";
	display:block;
	height: 0;
	padding-bottom:38.59%;
	background: url(https://www.rakuten.ne.jp/gold/shopjapan/sp/images/other/sp_footinfo3.png) no-repeat top left;
	background-size: contain;
}/*SPページのカート上の画像(お問い合わせボタン上)*/

.movie_btn{
	display:block;
	text-decoration:none;
	border:none;
	margin:0 auto 20px;
	font-size:14px;
	line-height:14px;
	width:94%;
	text-align:center;
	padding:10px;
	border:none;
	background:#FF0004;
	color:#ffffff;
	font-weight:bold;
}/*動画を見るボタン*/

.buy_btn_pc{
	width:950px;
	height:115px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/lpbtn_pc.jpg) no-repeat top left;
}/*PC購入ボタン*/

.buy_btn_sp{
	display:block;
	height: 0;
	padding-top:17.97%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/lpbtn_sp.jpg) no-repeat top left;
	background-size: contain;
	margin:0 auto 2%;
	display: none;
}/*SP購入ボタン*/

.buy_btn_sp2{
	display:block;
	height: 0;
	padding-top:18.6%;
	background: url(https://www.rakuten.ne.jp/gold/shopjapan/wds/images/sp/wds_sp_btn.jpg) no-repeat top left;
	background-size: contain;
	display: none;
}/*SP購入ボタン*/


.review_coupon_sp{
	display:block;
	height: 0;
	padding-top:95.93%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/share/re_640_1712.jpg) no-repeat top left;
	background-size: contain;
	/*display:none;*/
}/*レビューCP*/
/*実施中：CRFP,NOF,SQC,NCDM,STCL,STMP,SWCL,TBS,NUE,BGV,DAF*/

.review_coupon_pc_crf{
	/*display:none;*/
	width:950px;
	height:550px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/share/re_950_1712.jpg) no-repeat top left;
}/*レビューCP*/
/*実施中：CRFP,NOF,SQC,NCDM,STCL,STMP,SWCL,TBS,NUE,BGV,DAF,PKP,TRHT*/

.review_coupon_pc_wsd{
	/*display:none;*/
	width:950px;
	height:581px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/share/review_2000pc2.jpg) no-repeat top left;
}/*レビューCP_WSD*/

.review_coupon_sp_wsd{
	display:block;
	height: 0;
	padding-top:103.43%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/share/review_2000sp2.jpg) no-repeat top left;
	background-size: contain;
	/*display:none;*/
}/*レビューCP_WSD*/





/*****************************************************************************************************************/
/*週末ポイントバナー*/
/*****************************************************************************************************************/

.wds_ta_p10{
	display:none;
	width:950px;
	height:121px;
	margin:0 auto 20px;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p5_1128_t.jpg) no-repeat top left;
}/*WDSポイントバナー*/

.wds_sp_p10{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p5_1128.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*WDSポイントバナー*/

.wdc2_pc_point{
	display:none;
	width:700px;
	height:236px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/161003.jpg) no-repeat top left;
}/*WDC2ポイントバナー*/

.wdc2_sp_point{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/161003.jpg) no-repeat top left;
	background-size: contain;
	display:none;
	margin:0 0 10px;
}/*WDC2ポイントバナー*/

.trsp_pt_pc{
	display:none;
	width:700px;
	height:236px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/161003.jpg) no-repeat top left;
}/*TRSPのみ*/

.trsp_ta_p10{
	display:none;
	width:950px;
	height:121px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p10_1128_t.jpg) no-repeat top left;
}/*TRSPのみポイントバナー*/

.trsp_pt_sp{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p10_1128.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*TRSPのみ*/


.stp_ta_p10{
	display:none;
	width:950px;
	height:121px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p5_1216_tan.jpg) no-repeat top left;
}/*STPポイントバナー*/

.stp_pt_sp{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p5_1216_sp.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*STPポイントバナー*/

.ngw_pt_pc{
	display:none;
	width:950px;
	height:121px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p10_0113.jpg) no-repeat top left;
}/*NGWポイントバナー*/

.ngw_pt_sp{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p10_0113_sp.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*NGWポイントバナー*/

.wdt_pc_p10{
	display:none;
	width:700px;
	height:236px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/161007.jpg) no-repeat top left;
}/*WDTポイントバナー*/

.wdt_sp_p10{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/161007.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*WDTポイントバナー*/


.trsc_pt_pc{
	display:none;
	width:950px;
	height:121px;
	margin:0 auto 20px;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p10_1128_t.jpg) no-repeat top left;
}/*TRSCポイントバナー*/

.trsc_pt_sp{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p10_1128.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*TRSCポイントバナー*/


.trs_pt_pc{
	display:none;
	width:700px;
	height:236px;
	margin:0 auto 20px;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p10_1128.jpg) no-repeat top left;
}/*プレミアム・コンフォート以外*/

.trs_pt_sp{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p10_1128.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*プレミアム・コンフォート以外*/

.awfm_pt_pc{
	display:none;
	width:950px;
	height:121px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p5_0220.jpg) no-repeat top left;
}/*AWFMポイントバナー*/

.awfm_pt_sp{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/p5_0220_sp.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*AWFMポイントバナー*/


.nice_pt_pc{
	display:none;
	width:700px;
	height:236px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/161003.jpg) no-repeat top left;
}/*NICEポイントバナー*/

.nice_pt_sp{
	display:block;
	height: 0;
	padding-top:33.71%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/top_img/point/161003.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*NICEポイントバナー*/







/*****************************************************************************************************************/
/*母の日バナー*/
/*****************************************************************************************************************/


.all_event_pc{
	display:none;
	width:950px !important;
	height:411px;
	margin:0 auto;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/share/mother_pc.jpg) no-repeat top left;
}/*母の日PC*/


.all_event_sp{
	display:block;
	height: 0;
	padding-top:74.84%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/share/mother_sp.jpg) no-repeat top left;
	background-size: contain;
	display:none;
}/*母の日SP*/



/*****************************************************************************************************************/
/*72時間限定ポイント5倍*/
/*****************************************************************************************************************/


/*.wds_sp_p10,
.wdc2_sp_point,
.crf_pt_sp,
.crff_pt_sp,
.trsp_pt_sp,
.stp_pt_sp,
.ngw_pt_sp,
.nice_pt_sp,
.lgmc_pt_sp,
.trsc_pt_sp,
.shark_pt_sp,
.hd_pt_sp,
.wdc_sp_p10{
	display:block;
	height: 0;
	padding-top:60.93%;
	background: url(https://www.rakuten.ne.jp/gold/shopjapan/images/cp/limitedshop.png) no-repeat top left;
	background-size: contain;
 	display:none;
}*/





/*****************************************************************************************************************/
/*クーポン表示*/
/*****************************************************************************************************************/

.ngw_coupon{
	display:none;
}

.nice_coupon{
	display:none;
}

.wdt_coupon{
	display:none;
}

.wds_coupon{
	display:none;
}

.stp_coupon{
	display:none;
}

.trsp_coupon{
	display:none;
}

.nue_coupon{
	display:none;
}

.sim_coupon{
	display:none;
}

.bgv_coupon{
	display:none;
}

.rah_coupon{
	display:none;
}

.awfm_coupon{
	display:none;
}

.mgt_coupon{
	display:none;
}

.crf_coupon{
	display:none;
}

.sfs_coupon{
	display:none;
}

.sltc_coupon{
	display:none;
}

.trt_coupon{
	display:none;
}

.ncdm_coupon{
	display:none;
}

.stmp_coupon{
	display:none;
}

.sqm_coupon{
	display:none;
}

.trht_coupon{
	/*display:none;*/
}


/*****************************************************************************************************************/
/*あす楽表記・項目選択肢・SP商品画像*/
/*****************************************************************************************************************/

table{border-collapse:collapse;}

#marathon_parts{
	margin-top: 45px !important;/*スーパーSALE時*/
    /*margin-top: 10px !important;/*通常時*/
	z-index: 9 !important;
	background: #EEEEEE !important;
	padding:10px !important;
	font-weight: normal !important;
	border-top: 1px dotted #ffffff !important;
	/*width: 100% !important;
	position: fixed !important;*/
}

#marathon_parts #itemGenreIcon {
    display: none !important;
}

#marathonWord{
	width: 1160px !important;
	margin: 0 auto !important;
	float: none !important;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	background: #cc0000 !important;
}

#marathonWord a{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	background: #EEEEEE !important;
	color: #cc0000 !important;
}

#marathonWord a:before {
	content: "【ショップジャパン楽天市場店】" !important;
}

.catch_copy{
	font-size:90% !important;
	padding-bottom:10px;
}

#rakutenLimitedId_cart,
.rakutenLimitedId_cart{
	width:410px;
	padding:18px;
	font-size:110%;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	background:#efefef;
}

#rakutenLimitedId_cart td,
.rakutenLimitedId_cart td{
	padding:7px 0 6px;
}

#rakutenLimitedId_cart td span.price1,
.rakutenLimitedId_cart td span.price1{
	padding-left:10px;
}

#rakutenLimitedId_cart + div,
.rakutenLimitedId_cart + div {
    width: 411px;
    padding: 20px 0 0;
    margin: 0 0 10px !important;
	/*border: 3px solid #efefef;*/
}

#rakutenLimitedId_aroundCart * {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

#rakutenLimitedId_aroundCart font {
    font-size: 12px;
}

#rakutenLimitedId_aroundCart{
	/*border-top:1px dotted #ccc;*/
	padding:10px 0 0;
}

span.inventory_title {
    color: #333;
    font-size: 110%;
}

span.inventory_choice_name {
    color: #000000;
    font-size: 110%;
}

.inventory_choice_name {
    width:154px;
    height:25px;
    padding:0 5px;
}

td.inventory_choice_name,
td.inventory{
    border: 1px solid #ccc;
}

.inventory input{
	width:15px;
	height:15px;
    margin: 6px 0 0;
}

#rakutenLimitedId_cart .price2,
.rakutenLimitedId_cart .price2{
	font-weight:bold;
}

#rakutenLimitedId_aroundCart,
.tax_postage,
.shippingCost_free{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

#rakutenLimitedId_aroundCart span.unit {
    font-size: 16px;
	height: 55px;
    line-height: 55px;
}

div#rakutenLimitedId_aroundCart .rItemUnits{
    border: solid 1px #ccc;
    width: 50px !important;
    height: 50px !important;
    cursor: auto;
    text-indent: 0;
    overflow: hidden;
	margin-bottom: 10px !important;
}

body div#pagebody #rakutenLimitedId_aroundCart input.rCartBtn, body div#pagebody #rakutenLimitedId_aroundCart input#units + input {
    width:300px !important;
    height:55px !important;
	background:url(https://www.rakuten.ne.jp/gold/shopjapan/images/sjcart_btn.png) no-repeat !important;
    overflow: hidden !important;
    border-width:0px !important;
    cursor: pointer !important;
    text-indent:150% !important;
    white-space:nowrap !important;
    margin:10px 0 10px 5px !important;
}

input[value|="予約する"] {
    width:300px !important;
    height:55px !important;
    overflow: hidden !important;
    border-width:0px !important;
	font-size: 20px;
    cursor: pointer !important;
	border: 1px solid #ffffff;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	border-radius: 5px;
	background: #d30000;
	color: #ffffff;
    white-space:nowrap !important;
    margin:10px 0 10px 5px !important;
}

input[value|="定期購入する"] {
    width:300px !important;
    height:55px !important;
	background:url(https://www.rakuten.ne.jp/gold/shopjapan/images/sjcart_btn.png) no-repeat !important;
    overflow: hidden !important;
    border-width:0px !important;
    cursor: pointer !important;
    text-indent:150% !important;
    white-space:nowrap !important;
    margin:-10px 0 0px 5px !important;
}

input[value|="商品についての問合わせ"] {
    background: #ffffff url(https://image.rakuten.co.jp/com/img/rms/storefront/pc/page/btn_help.gif) no-repeat !important;
    background-position: 8px center !important;
	min-width: 212px !important;
    min-height: 28px !important;
    border: 1px rgb(205, 205, 205) solid !important;
    border-radius: 3px !important;
    padding-left: 28px !important;
    text-align: left !important;
    word-break: break-all !important;
    margin: 10px 0 0 0 !important;
    font-size: 13px !important;
}

#rakutenLimitedId_aroundCart span.choice {
    display:inline-block;
    position:relative;
    width:394px;
    padding:8px;
    margin:5px 0 0;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	color:#fff;
	background:orange;
	text-align:center;
    font-size:12px !important;
}

#rakutenLimitedId_aroundCart select[name="choice"] {
    width:410px !important;
    height: 40px !important;
	padding: 8px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background:#efefef;
	margin-bottom:0;
	border:1px solid #ccc;
	text-align:center;
}

.pointGet{
	padding-left:15px;
}

#rakutenLimitedId_aroundCart select {
    font-size:12px !important;
    display:inline-block !important;
}

#rakutenLimitedId_aroundCart select:hover {
	color:#333;
	background:#ffffff;
	border:1px solid #cc0000;
}

#asurakuTable{ width:410px; }

.inventory{width:241px; padding:5px; font-size:12px;}

.imgWrap img{
	/*width:330px;*/
}/*SPページの商品画像*/

div#pagebody{
	margin-left:0 !important;
}/*下層全体中央寄せ*/

header #header{
	margin:-20px 0 0 16px !important;
}

#scrollUp{
	display: none !important;
}

a.etc_link {
    border: 2px solid #000;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    text-decoration: none;
    background: #000;
    padding: 10px 5px 10px 10px;
    color: #fff;
    margin: 10px auto 50px;
    font-weight: bold;
    letter-spacing: 1px;
    position: fixed;
    bottom:-20px;
    left: 0;
    z-index: 9;
    width: 75px;
}
a.etc_link:hover {
    background: #fff;
    color: #000;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
}
a.etc_link:visited {
    color: #fff;
    font-size: 20%;
}
a.etc_link:link {
    color: #fff;
    font-size: 20%;
	bottom: 40;
    z-index: 100001;
}
a.etc_link:visited:hover {
    color: #000;
}
a.etc_link:link:hover {
    color: #000;
}
a.etc_link img {
    display: none;
}
a.etc_link:before {
    content: "★";
    margin-right: -10px;
}




/*****************************************************************************************************************/
/*SP動画用*/
/*****************************************************************************************************************/

.video_c {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video_c iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.sp_iframe_wrap{
	position: relative;
	width: 100%;
	padding: calc(830 / 640 * 100%) 0 0;
}
.sp_iframe_wrap iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.seiki_obi{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	width:100%;
	border:0;
	padding:10px 0 8px;
	margin:10px auto;
	text-align:center;
	background:#DDDDDD;
	font-size:15px;
	line-height:15px;
	height:15px;
	color:#454545;
	font-weight:bold;
}





/*****************************************************************************************************************/
/*SPEC用*/
/*****************************************************************************************************************/

div.spec {
	/*width: 400px;*/
	text-align:left
}

div.spec td {
	font-size: 12px;
    padding: 8px;
}

table.tspec {
	width: 400px;
	border-collapse: collapse;
}
/* thの指定 */
table.tspec{
	/*width: 408px;*/
	line-height:18px;
	font-size:14px;
	padding:0;
	margin:0;
	text-align: left;
}
table.tspec th {
	width:20%;
	font-weight: normal;
	background-color: #fffeef;
	border:1px solid #e9e9e9;
	padding: 10px;
	vertical-align:top;
}
/* tr tdの指定 */
table.tspec tr td {
	width:80%;
	background-color: #FFFFFF;
	border:1px solid #e9e9e9;
	padding: 8px;
	vertical-align:top;
}

span.catch_copy{
	text-align:left;
    display: block;
}

span.item_name{
	text-align:left;
}

span.item_desc{
	text-align:left;
}

.blockWrap table.tspec{
	width: 100%;
	line-height:14px;
	font-size:12px;
	padding:0;
	margin:0;
	text-align: left;
}
.blockWrap table.tspec th {
	width:20%;
	font-weight: normal;
	background-color: #fffeef;
	border:1px solid #e9e9e9;
	padding: 5px;
	vertical-align:top;
}
/* tr tdの指定 */
.blockWrap table.tspec tr td {
	width: 80%;
	background-color: #FFFFFF;
	border:1px solid #e9e9e9;
	padding: 5px;
	vertical-align:top;
}



/*****************************************************************************************************************/
/*よくあるご質問*/
/*****************************************************************************************************************/

.sjqa_title{
	display: block;
	border-top: 8px solid #940002;
	width: 100%;
	background: #D00000;
	padding: 15px 0;
	color: #FFFFFF;
	text-align: center;
	margin: 0 auto;
	font-size: 22px;
	line-height: 26px;
	height: 22px;
	font-weight: bold;
	font-family: "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro," メイリオ", Meiryo, Osaka," ＭＳ Ｐゴシック", MS PGothic," sans-serif";
}

.sjqa_ttl{
	display: block;
	width: 94%;
	background: #666;
	color:#fff;
	padding:15px 3%;
	margin:4% 0 1%;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.sjqa_ttl_cat{
	display: block;
	width: 94%;
	border-bottom:2px solid #D00000;
	background: #efefef;
	padding:10px 3%;
	margin:4% 0 1%;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}

.sjqa_wrap{
	display: block;
	width: 93.5%;
	margin:0 auto 5%;
	border: 1px solid #D00000;
	padding: 0 3% 3%;
	font-size: 14px;
	font-family: "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro," メイリオ", Meiryo, Osaka," ＭＳ Ｐゴシック", MS PGothic," sans-serif";
}

.sjqa_wrap .sjqa_btn{
	display: block;
	width: 90%;
	margin: 4% auto 6%;
	padding: 10px 10px;
	text-align: center;
	background: #BD0003;
	color: #ffffff;
	border-radius: 8px;
	font-weight: bold;
	text-decoration: none;
}

.sjqa_wrap .sjqa_wrap_inner{
	display: block;
	overflow: hidden;
}

.sjqa_wrap .sjqa_wrap_inner a{
	display: block;
	float: left;
	width: 41.7%;
	margin:2.5% 3% 2% 0;
	border: 1px solid #cccccc;
	border-radius: 5px;
	text-align: center;
	padding: 3%;
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
	color: #333;
	font-family: "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro," メイリオ", Meiryo, Osaka," ＭＳ Ｐゴシック", MS PGothic," sans-serif";
}

.sjqa_wrap .sjqa_wrap_inner a:nth-child(2n){
	margin:2.5% 0 2% 0;
}







/*****************************************************************************************************************/
/*TRSピローシリーズ*/
/*****************************************************************************************************************/

.p_table tr td{ padding:0; margin:0; border:none;}
.pillow_wrap{width:750px; text-align:center; margin:0 auto; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.pillow_lineup{ width:750px;}
.pillow_lineup tr td{ width:750px; text-align:center; height:145px;}
.pillow_hl{ padding-left:10px; text-align:left;border-left:#DE081B solid; border-left-width:medium; width:650px; margin:10px auto 0; font-weight:bold; color:#993333; font-size:16px; line-height:24px;}
.pillow_se{ text-align:left;width:650px; margin:15px auto 30px; font-size:14px; line-height:22px;}
.pillow_se p{ text-align:left;width:650px; margin:15px auto 30px; font-size:14px; line-height:22px;}
.pillow_se_i{ text-align:left;width:670px; margin:15px 0 30px 45px; overflow:hidden;}
.pillow_se_i p{ text-align:left;width:425px; padding:0 10px 0 0; font-size:14px; line-height:22px; float:left;}
.pillow_se_i p img{ float:right;}
.pillow_se span{font-size:12px; color:#666666; line-height:20px;}
.item_hl_p{ width:630px; background:#F5F4FF; margin:15px auto 30px; padding:20px; border:#cccccc 1px solid; text-align:left;}





/*****************************************************************************************************************/
/*SP iframe*/
/*****************************************************************************************************************/

.sjsp_trsp_iframe {
    height:222px;
}




/*****************************************************************************************************************/
/*ストリコ*/
/*****************************************************************************************************************/

div.sto_ttl{
	width: 400px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size: 16px;
	padding: 20px 0 15px;
	font-weight: bold;
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
}
p.sto_info{
	width: 400px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size: 14px;
	padding: 0 0 10px;
}
table.sto_spec{
	border-top: 1px solid #999;
	width: 400px;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size: 14px;
	margin-bottom: 30px;
}
table.sto_spec tr:nth-child(odd) {
    background-color: #f2f2f2;
}
table.sto_spec th{
	width: 80px;
	padding: 10px 0 10px 15px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	text-align: left;
}
table.sto_spec td{
	padding: 10px;
	border-bottom: 1px solid #999;
}
div.sto_wash{
	margin-top: 10px;
	width: 400px;
}
div.sto_wash img{
	margin-right: 10px;
    vertical-align: middle;
}
.sto_sp_wash{
	display: block;
	overflow: hidden;
	margin-bottom: 3%;
}
.sto_sp_wash img{
	float: left;
	margin-right: 10px;
}



/*****************************************************************************************************************/
/*ボタンアニメーション*/
/*****************************************************************************************************************/

.anime_btn1{
font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
display: inline-block;
letter-spacing: 6px;
outline: 0;
position: relative;
-webkit-animation:anim_jbtn 2s ease-in infinite;
animation:anim_jbtn 2s ease-in infinite;
transition: all .3s;
overflow: hidden;
text-decoration:none;
}
@-webkit-keyframes anim_jbtn{
5% {-webkit-transform: scale(1.1, .9);transform: scale(1.1, .9);}
10% {-webkit-transform: scale(.9, 1.1) translateY(-.5rem);transform: scale(.9, 1.1) translateY(-.5rem);}
15% {-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes anim_jbtn{
5% {-webkit-transform: scale(1.1, .9);transform: scale(1.1, .9);}
10% {-webkit-transform: scale(.9, 1.1) translateY(-.5rem);transform: scale(.9, 1.1) translateY(-.5rem);}
15% {-webkit-transform: scale(1);transform: scale(1);}
}

