@charset "euc-jp";

/*
createdate: 20150501
update: 20150501
var: 1.0.5
*/

/* smt_notification */
#notificationList {
  font-size: 13px;
}
div#notificationList .topNtfLinkList li a {
  display: block;
  padding: 15px 15px 15px 5px;
  color: #333333;
}
div#notificationList .topNtfTtl h1 {
  font-size: 14px;
}
div#notificationList .ritNotificInfo .topNtfNoItem {
  margin-top: 37px;
}
div#notificationList .topNtfNoItem .topNtfNoItemTtl {
  padding: 13px 15px 15px 5px;
  font-weight: bold;
}
div#notificationList .topNtfNoItem .ntfLoginLink {
  display: -webkit-box !important;
  display: box !important;
  -webkit-box-pack: justify !important;
  box-pack: justify !important;
  -webkit-box-align: center !important;
  box-align: center !important;
  padding: 15px 7px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #333;
}
div#notificationList .topNtfNoItem .ntfLoginLink:after {
  content: "";
  background-repeat: no-repeat;
  -webkit-background-size: 72px 1000px;
  background-size: 72px 1000px;
  background-image: url(https://r.r10s.jp/com/img/home/smart/top/top/201203/icns_01.png);
  width: 10px;
  height: 16px;
  background-position: 100% -434px;
  position: absolute;
  right: 7px;
}
div#notificationList .topNtfNoItem p:last-child > a {
  border-top: none;
}
div#notificationList .topNtfLinkList .ntfArticle {
  border-bottom: 1px solid #cccccc;
  position: relative;
}
div#notificationList .topNtfLinkList .ntfArticle:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 40%;
  border-right: 3px solid #999999;
  border-bottom: 3px solid #999999;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
}
div#notificationList .topNtfLinkList .ntfArticle:first-child {
  border-top: 1px solid #cccccc;
}
div#notificationList .topNtfLinkList .ntfArticle a {
  display: block;
  padding: 10px 15px 10px 5px;
  color: #333333;
}

/* entf-sp */
div#notificationList .ritNotificArea {
  margin-top: 37px;
  display: none;
}
div#notificationList .ritNotificArea .ntfEduBanner img {
  width:100%;
  height:auto;
}
div#notificationList .ritNotificArea .ntfEduBanner:after {
  border-right: none !important;
  border-bottom: none !important;
}
div#notificationList .ritNotificArea .ntfArticle {
  border-bottom: 1px solid #cccccc !important;
  position: relative;
}
div#notificationList .ritNotificArea .ntfArticle:last-child {
  border-bottom: none;
}
div#notificationList .ritNotificArea .ntfArticle:after {
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  border-right: 3px solid #999999;
  border-bottom: 3px solid #999999;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
}
div#notificationList .ritNotificArea .ntfArticle a {
  display: block;
  padding: 13px 15px 15px 5px;
  color: #333333;
}
div#notificationList .ntfTtlWrap {
  margin-bottom: 10px;
  display: -webkit-box;
  display: box;
  -webkit-box-pack: justify;
  box-pack: justify;
}
div#notificationList .ntfCntWrap {
  display: -webkit-box;
  display: box;
  -webkit-box-pack: justify;
  box-pack: justify;
}
div#notificationList .ntfTtlWrap .ntfTtl {
  font-size: 14px;
  font-weight: bold;
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
}
div#notificationList .ntfTtlWrap .ntfDate {
  font-size: 80%;
  margin-left: 10px;
  color: #666666;
  text-align: right;
}

div#notificationList .ntfCntWrap .ntfCntImg {
  width: 100px;
  margin-right: 10px;
  text-align: center;
}
div#notificationList .ntfCntWrap .ntfCntDetail {
  -webkit-box-flex: 1.0;
  box-flex: 1.0;
}
div#notificationList .ntfItemPrice {
  font-size: 15px;
  margin: 0 0 8px;
}
div#notificationList .ntfItemPrice span:first-child {
  margin-right: 10px;
}

div#notificationList .ntfCntWrap .ntfCntDetail li {
  word-wrap: break-word;
  line-height: 1.3em;
}
div#notificationList .ntfCntWrap .ntfCntDetail .red {
  color: #bf0000;
  font-weight: bold;
}
div#notificationList .ntfCntWrap .ntfCntDetail .font120 {
  font-size: 120%;
}
div#notificationList .ritNotificInfo {
  display: none;
}
div#notificationList .ritNotificError {
  display: none;
}
div#notificationList .ntfEmp {
  font-weight: bold;
  color: #bf0000;
}
div#notificationList .ntfPointBackInfo {
  font-weight: bold;
  color: #bf0000;
  margin: 0 0 8px;
}
div#notificationList .ntfDateClearFix {
  overflow: hidden;
  zoom: 1;
}
div#notificationList .ntfItemDate span {
  margin-right: 5px;
}
div#notificationList .ntfItemForPointExpireDate span {
  font-size: 15px;
  margin-right: 10px;
}
div#notificationList .ntfItemName,
div#notificationList .ntfItemDate,
div#notificationList .ntfItemForPointExpireDate,
div#notificationList .ntfShopName {
  margin: 0 0 8px;
}
div#notificationList .ntfShopIcon {
  background: url(https://r.r10s.jp/com/img/home/smart/common/sp_icon_shopred.png) no-repeat 1px 0;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
  padding-left: 5px;
  position: relative;
  top: 3px;}
div#notificationList .ntfShopName {
  padding-left: 2px;
  font-size: 12px;
}
div#notificationList .ntfOrgPrice {
  text-decoration: line-through;
  font-size: 12px;
}
div#notificationList .ntfHighlight {
  background: #f6f6f6 !important;
}
div#notificationList .borderBottom {
  border-bottom: 1px solid #c3c3c3;
}
div#notificationList .topNtfLinkList .noBorderTop {
  border-top: 0px !important;
}
div#notificationList .topNtfLists li{
  border-bottom: 0px solid #ffffff;
}
div#notificationList .topNtfLists li:after{
  border-right:0px solid #999999;
  border-bottom:0px solid #999999;
}
div#notificationList .topNtfLinkList li:first-child {
  border-top: 1px solid #cccccc;
}

div#notificationList .topNtfLinkList li {
  border-bottom: 1px solid #cccccc;
  position: relative;
}
