@charset "euc-jp";
table[rules="wrapperOuter"] {
	margin-top: 35px;
	border: 1px solid #cccccc;
	position: relative;
	width: 100%;
}
table[rules="wrapperOuter"] table table table {
	width: 100%;
	font-size: 14px;
}
table[rules="wrapperOuter"] table table table tr th {
	border-bottom: 1px solid #cccccc;
	padding-left: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	text-indent: 8px;
}
table[rules="wrapperOuter"] table table table td {
	font-size: 14px;
	line-height: 1.3;
	padding: 6px;
	color: #1f1f1f;
	text-align: left;
	padding: 10px 8px 10px 20px !important;
	vertical-align: top;
}
table[rules="wrapperOuter"] p{
	display: none !important;
}
main table[rules="wrapperOuter"] table table table td[colspan="6"] {
	padding-left: 0 !important;
	padding-right: 16px !important;
}
main table[rules="wrapper"] {
	margin-bottom: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
main table[rules="wrapperInner"] {
	padding: 0;
	border: none;
	border-collapse: collapse;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
}
main table[rules="wrapperInner"] > tbody > tr > td {
	padding: 0;
}
main table[rules="tableRMS"] th {
	width: 100% !important;
	height: 40px;
	line-height: 40px;
	margin: 0;
	border-top: none !important;
	text-indent: 0;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-size: 16px !important;
	font-weight: bold !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
main table[rules="tableRMS"] td {
	width: 66.66666% !important;
}
main table[rules="tableRMS"] td[axis="tableRMSFirstTd"] {
	padding-left: 16px;
	padding-right: 16px;
	width: 33.33333% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
main table[rules="tableRMS"] td[axis="tableRMSEmpty"] {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
}
main table[rules="tableRMS"] tr[rules="tableRMSFirstTr"] td {
	border-top: none;
}
main table[rules="tableRMS"] td[axis="tableRMSFirstTrTd"] {
	padding-left: 16px;
	padding-right: 16px;
	width: 33.33333% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: none;
}
main table[rules="tableRMS"] td[axis="tableRMSFirstTrTdNoBorder"] {
	border-top: none;
}
main table[rules="tableRMS"] td {
	border-top: 1px solid #eeeeee;
}
main table[rules="wrapper"] {
	display: block;
	overflow: hidden;
	width: 100%;
}
main table[rules="wrapper"] > tbody, main table[rules="wrapper"]  > tbody > tr, main table[rules="wrapper"]  > tbody > tr > td {
	display: block;
}
main table[rules="wrapper"] tr[bordercolor="tableRMSOverlay"] {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,1.0));
	border: none;
}
main table[rules="wrapper"] tr[bordercolor="tableRMSOverlay"] > td {
	display: table;
	position: relative;
	text-align: center;
	border: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform:translate3d(0,0,0);
	width: auto!important;
	padding: 0!important;
}
main table[rules="wrapper"] tr[bordercolor="tableRMSOverlay"] > td p {
	background-image: url(//a.ichiba.jp.rakuten-static.com/com/img/rms/storefront/pc/page/smart/rms_table_overlay.png/arrow_down.png);
	background-size: 12px 8px;
	background-position: 100% 5px;
	background-repeat:  no-repeat;
	display: inline-block !important;
	padding-right: 18px;
	color: #1e54a7;
	font-weight: bold;
}
main table[rules="wrapper"] tr[bordercolor="tableRMSOverlay"] > td p {
	display: table-cell!important;
	height: 40px;
	vertical-align: middle;
	word-break: break-all;
}
main table[rules="wrapper"] tr[bordercolor="tableRMSOverlay"] > td p:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 2px;
	display: block;
	width: 6px;
	height: 6px;
	border-top: 2px solid #1e54a7;
	border-right: 2px solid #1e54a7;
	-webkit-transform:rotate(135deg);
	transform:rotate(135deg);
}
main table[rules="wrapper"] tr[bordercolor="tableRMSOverlay"] > td p:before {
	clear: both;
}
main table[rules="wrapper"] tr[bordercolor="tableRMSOverlay"] > td p:after {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
main table[rules="wrapper"].accordion_wrapper_open tr[bordercolor="tableRMSOverlay"] {
	display: none;
}
