@charset "utf-8";


body{background-color: transparent !important;}

/*****************************************************************************************************************/
/*SP検索ワード2017.6.8*/
/*****************************************************************************************************************/

ul.left_search_words {
    width:100%;
    display:block;
    border-top:none;
    margin:2% auto 0;
    padding:0;
    text-align:center;
    font-size:0;
}
ul.left_search_words p{
    display:block;
    margin:0 0 3%;
    padding:0;
    color: #333;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    background: #efefef;
}
ul.left_search_words li{
    display:inline-block;
    width:32%;
    margin:0 1% 2% 0;
    padding:1%;
    border:1px solid #ccc;
    border-radius:2px;
    font-size:12px;
}
ul.left_search_words li:last-child{
    margin:0 0 2% 0;
}

ul.left_search_words a{
    color:#333;
    letter-spacing:-2px;
    display: block;
    width: 100%;
    height: 100%;
}



/*****************************************************************************************************************/
/*SPヘッダーの処理2016.8.21*****ヘッダー消去******/
/*****************************************************************************************************************/

@media (max-width:320px) {
    #ipnsh-header .spux-icon-container {
        width: 140px !important;
    }
}

.itemStatus{
	display: none;
}

#rstTopSearch {
	display: none !important;
}

.sCLToggleBox {
	margin: -44px 0 0 0;
}

#rstTopSearch .dropDwnWrap {
	display: none !important;
}

div#floatingButtons {
	bottom: 75px !important;
}
#shopCommonText img{
	display:inline !important;
	margin:0 !important;
}

#shopName{
	display:none !important;
}

#ipnsh-header{
	/*padding-bottom:5% !important;
	margin:105px 0 0;*/
	display:none !important;
}
#topFuncShopPopup{
	display:none !important;
}
.ctgTtl{
	display:none !important;
}
.categorydescription{
	/*margin:60px 0 -80px;*//*楽天共通ヘッダー消す場合*/
	margin:5px 0 -80px;/*楽天共通ヘッダー復活2017.3.16*/
	border-top:none !important;
}
#itemImageSlider{
	margin-top:70px;
	border-top:none !important;
}
.imageFlick{
	margin-top:80px;
	border-top:none !important;
}

#sCLContainer{
	margin-top:105px;
	border-top:none !important;
}

.count_line{
	/*margin-top:-105px;*/
}



/*****************************************************************************************************************/
/*SPヘッダーの処理2017.3.7*****楽天のガイドラインによる処理******/
/*****************************************************************************************************************/

#ipnsh-header {
	display:block !important;
	margin-top:58px !important;
}

#rstTopSearch .search-area {
	display:block !important;
}

#topFuncShopPopup {
	margin-top:10px !important;
	display:block !important;
}

#rstTopSearch {
	display:block !important;
}

#rstTopSearch .search-area {
	display:block !important;
margin-top:5px !important;
}

#shopName {
	display:block !important;
}

#itemImageSlider {
	margin-top:0 !important;
}

#ipnsh-header .logo {
	float:left !important;
}







/*****************************************************************************************************************/
/*WOW*/
/*****************************************************************************************************************/

.wowwrap { width: 100%; margin: 0 auto;display: block;height: 0;padding-bottom: 316%;}
.wowwrap .wowttl{ background: #efefef; padding: 10px 0 10px; border-top: 2px solid #cc0000; margin: 12px auto 15px; font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, Osaka, ＭＳ Ｐゴシック, MS PGothic, sans-serif;font-size: 16px; font-weight: bold;width: 97%; height: 16px; display: block;}
.wowwrap p{ width: 100%; margin:5.0% auto 0; padding: 0;}
.wowwrap p img{ width: 100%; border: 1px solid #ccc;}
.wowwrap table{ margin: 3.0% 0;}
.wowwrap table tr td img{ margin-bottom: 3.0%; padding: 0;}










/*****************************************************************************************************************/
/**/
/*****************************************************************************************************************/

img{padding:0; margin:0; vertical-align:bottom;}

.common_bnr img {
margin-bottom:2%;}

.bnr_space{
	margin:10px auto;
}

.spall a{
	width: 90%;
	display: block !important;
	margin: 4px auto 10px !important;
	padding: 15px 2% !important;
	text-align: center !important;
	background: #CC0000 !important;
	color: #fff !important;
	border-radius: 5px !important;
	font-weight: bold !important;
    text-decoration: none !important;
}
.spall a:before{content:"> "}

#sj_raku_fhd2{
	position: fixed;
	width: 100%;
	height: 40px;
	top: 0;
	left: 0;
	margin: 0;
	padding: 2.5% 2.5%;
	background: #ED0003;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	z-index: 999999;
}

@media screen and (min-width: 420px) {
   #sj_raku_fhd2 {padding: 1.0%;}
}

iframe{
	display: block;
	width: 95%;
	height: 45px;
	padding: 0;
}

@media screen and (min-width: 420px) {
   iframe {width: 98%;}
}










/*****************************************************************************************************************/
/*カテゴリ＆TOP追従バナー*/
/*****************************************************************************************************************/

.floatBanner {
display: block;
margin: 0;
padding: 0;
position: fixed;
left: 0px;
bottom: 0px;
width: 100%;
z-index: 2147483647;
display: none;
}

.floatBanner a {
display: block;
margin: 0;
padding: 0;
position: fixed;
left: 0px;
bottom: 0px;
width: 100%;
z-index: 2147483647;}

.floatBanner a img{
width: 100%;
}

.floatBanner_item{
	display:block;
	display: none;
	width:100%;
	position:absolute;
	/*padding-bottom:40px;*//*WDCワケありセール終わりで消す2段使用*/
	top:0;
	left:0;
	z-index: 2147483648;
}

.floatBanner_item p{
	display:block;
	height: 0;
	padding-top:15.63%;
	background: url(https://www.rakuten.ne.jp/gold/shopjapan/cp/crf_wake/wake_foot_sp.jpg) no-repeat top left;
	background-size: contain;
	z-index: 2147483648;
}

.wds_foot,
.wdc2_foot,
.trsp_foot,
.ngw_foot,
.stp_foot
.crf_foot,
.crff_foot
{
	display:none;
}

.floatBanner_2016tanabata{
	display:block;
	width:100%;
	position: fixed;
	/*padding-bottom:11.72%;*//*クーポンCP終わりで消す2段使用*/
	bottom:0;
	left:0;
	z-index: 2147483648;
	display:none;
}

.floatBanner_2016tanabata p{
	display:block;
	height: 0;
	padding-top:15.63%;
	background: url(https://www.rakuten.ne.jp/gold/shopjapan/cp/cptimer/0728_coupon_sp_fix2.jpg) no-repeat top left;
	background-size: contain;
	z-index: 2147483648;
	display:none;
}

.floatBanner_2016wdcwake{
	display:block;
	width:100%;
	position: fixed;
	/*padding-bottom:11.72%;*//*WDCワケありセール終わりで消す2段使用*/
	bottom:0;
	left:0;
	z-index: 2147483648;
	display:none;
}

.floatBanner_2016wdcwake p{
	display:block;
	height: 0;
	padding-top:15.63%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/wds/sage/wds_sp_tui_btn.jpg) no-repeat top left;
	background-size: contain;
	z-index: 2147483648;
	display:none;
}

.floatBanner_2016wdcwake_wds{
	display:block;
	width:100%;
	position: fixed;
	/*padding-bottom:11.72%;*//*WDCワケありセール終わりで消す2段使用*/
	bottom:0;
	left:0;
	z-index: 2147483648;
	display:none;
}

.floatBanner_2016wdcwake_wds p{
	display:block;
	height: 0;
	padding-top:15.63%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/wds/sage/wds_sp_tui.jpg) no-repeat top left;
	background-size: contain;
	z-index: 2147483648;
	display:none;
}

.floatBanner_2016_trsp{
	display:block;
	width:100%;
	position: fixed;
	/*padding-bottom:11.72%;*//*WDCワケありセール終わりで消す2段使用*/
	bottom:0;
	left:0;
	z-index: 2147483648;
	display:none;
}

.floatBanner_2016_trsp p{
	display:block;
	height: 0;
	padding-top:15.63%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/trs/trsp_sp_tui_01.jpg) no-repeat top left;
	background-size: contain;
	z-index: 2147483648;
	display:none;
}

.floatBanner_2016_stp{
	display:block;
	width:100%;
	position: fixed;
	/*padding-bottom:11.72%;*//*WDCワケありセール終わりで消す2段使用*/
	bottom:0;
	left:0;
	z-index: 2147483648;
	display:none;
}

.floatBanner_2016_stp p{
	display:block;
	height: 0;
	padding-top:15.63%;
	background: url(https://image.rakuten.co.jp/shopjapan/cabinet/stp/cp/stp_sp.jpg) no-repeat top left;
	background-size: contain;
	z-index: 2147483648;
	display:none;
}










/*****************************************************************************************************************/
/*縦追従バナー*/
/*****************************************************************************************************************/

.floatTate{
	display:block;
	width:17%;
	position: fixed;
	padding-bottom:100%;
	bottom:0;
	left:0;
	z-index: 2147480000;
	display:none;
}/*SPの縦バナー*/

.floatTate p{
	display:block;
	height: 0;
	padding-top:129.25%;
	background: url(https://www.rakuten.ne.jp/gold/shopjapan/images/tate/tate_160919v2_sp.png) no-repeat top left;
	background-size: contain;
	z-index: 2147480000;
	display:none;
}









/*****************************************************************************************************************/
/*縦追従バナー20161015*/
/*****************************************************************************************************************/

.floatFoot_iframe {
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 2147483647;
}

.floatFoot_iframe a {
	width: 100%;
}

.floatFoot_iframe a img{
	width: 100%;
}

.floatTate_iframe{
	width:25%;
	position: fixed;
	
    top: 60px;
	right:0;
	z-index: 2147480000;
}

.floatTate_iframe a{
	width:100%;
}

.floatTate_iframe a img{
	width:100%;
}

.floatTate_iframe img{
	width:100%;
}

.all_sp_z{
	z-index: 2147479999;
}

#offer-notification-btn {
	bottom: 68px!important;
}

.down_tuijyu {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}









/*****************************************************************************************************************/
/*2017.6.27 アウトレットセール用*/
/*****************************************************************************************************************/

.spallout a{
	margin: 3% auto 8% !important;
	padding: 12px 0 !important;
}

.about_trs_o{
    display: block;
    width: 90%;
    margin: 8% auto;
    border: 2px solid #000;
}

.about_trs_o p{
    display: block;
    padding: 15px 15px 0 30px;
    font-size: 12px;
    margin: 0 0 1% 0;
    text-align: left;
    background: #fff;
}

.about_trs_o p span{
    display: block;
    font-weight: bold;
    margin: 0 0 1% -12px;
    padding: 0;
}

.about_trs_o p.cutomor_number{
    display: block;
    padding-bottom: 15px;
}

.about_trs_o p.cutomor_number span{
    display: block;
    font-weight: normal;
    margin: 0 0 0 -20px;
}

.about_trs_o .trs_ttl{
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #000;
    margin: 0;
}
