@charset "utf-8";
/* CSS Document */

/*****************************************************************************************************************/
/*タイムセール枠 セール前非表示 セール時表示*/
/*****************************************************************************************************************/

/*#ss_sj_bnr{display:none;}*/

/*****************************************************************************************************************/
/*タイムセール枠 セール前非表示 セール時表示*/
/*****************************************************************************************************************/

#ss_wrap{ text-align:center; width:750px; margin:0 auto; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
#ss_wrap img{ border:none; vertical-align:bottom; }
.dotted{ border:1px dotted #666666; width:100%;}




/***************************************/
/*2017_12_02開催*/
/**************************************/

/*全部非表示*/
.sj_supersale{display:none;}
















/*****************************************************************************************************************/
