/* 固定ヘッダー部分 */
#hum_header{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background: #000;
  top: 0;
  left: 0;
  z-index: 9999999999;
}

#hum_header img{
  margin: 0;
  padding: 0;
}

#hum_header button{
  border: none;
    color: #fff;
    font-size: 200%;
    margin: 0 0 0 10px;
    padding: 0;
}
#header_hum_bt,#header_logo,#header_cart_icon{
  float: left;
  width: 33%;
  height: 32px;
}
#header_hum_bt{
}
#header_logo{
  text-align: center;
}
#header_cart_icon{
  text-align: right;
}
#header_cart_icon img{
  margin-right: 10px;
}


/* 他のCSSの操作 */
#ipnsh-header{
  margin-top: 50px;
}
