/* 固定ヘッダー部分 */
#hum_header{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  background: #000;
  top: 0;
  left: 0;
  z-index: 30000;
}

#hum_header img{
  margin: 0;
  padding: 0;
}

#hum_header button{
  border: none;
    color: #fff;
    font-size: 200%;
    margin: 8px 0 0 10px;
    padding: 0;
}
#header_hum_bt,#header_logo,#header_cart_icon{
  float: left;
  width: 33%;
  height: 32px;
}
#header_hum_bt{
}
#header_logo{
  text-align: center;
}
#header_cart_icon{
  text-align: right;
}
#header_cart_icon img{
  margin-right: 10px;
}

/* サイドメニューエリア */
.offcanvas-right {
}
.sidemenu_banner_box{
  width: 90%;
  margin: 10px auto 20px auto;
  text-align: center;
}
.sidemenu_banner_box img{
  width: 100%;
}

.sidemenu_banner_box h3{
  font-size: 120%;
  margin-bottom: 5px;
}
.accordion{
  width: 90%;
  margin: 0 auto;
}
.accordion_txt{
  float: left;
}

.accordion_bt{
  float: right;
}
/* 他のCSSの操作 */
  /* 既存ヘッダーの上位置調整 */
#ipnsh-header{
  margin-top: 50px;
}
